@import '@fontsource/fira-mono';

:root {
    --font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
        Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    font-family: var(--font-body);
}

body {
    margin: 0px;
}